* {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/project/Images/contact1.webp);
  background-size: cover;
}

.container {
  width: 40%; /* Increased width */
  height: 600px; /* Increased height */
  padding: 30px; /* Increased padding */
  background-color: #f4f4f4;
  border-radius: 10px; /* Increased border radius */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Increased box shadow */
  text-align: left;
}

h1 {
  color: #333;
  text-align: center;
  font-size: 36px; /* Increased font size */
}

.contact-details {
  margin-top: 30px; /* Increased margin top */
  padding: 30px; /* Increased padding */
  height: 400px; /* Increased height */
  border: 2px solid salmon; /* Increased border thickness */
  border-radius: 10px;
  background-color: skyblue;
}

.contact-details p {
  margin: 15px 0; /* Increased margin */
  font-size: 28px; /* Increased font size */
  color: #000000;
}

.contact-details p strong {
  color: #333;
}

.contact-details p:last-child {
  margin-bottom: 0;
}

button {
  font-size: 28px; /* Increased font size */
  text-decoration: none;
  padding: 15px 30px; /* Increased padding */
  background-color: #2ecc71; /* Green button color */
  color: #fff;
  border: none;
  border-radius: 8px; /* Increased border radius */
  cursor: pointer;
  display: block;
  margin-top: 80px; /* Increased margin top */
  margin-left: auto; /* Centered horizontally */
  margin-right: auto; /* Centered horizontally */
  transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

button:hover {
  background-color: #27ae60; /* Darker green on hover */
}

.note {
  padding: 15px 30px; /* Increased padding */
  background-color: #6f9b81;
  color: red;
  font-style: italic; /* Added italic style for the note */
  font-size: 18px; /* Adjusted font size for the note */
}