*{
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/project/Images/contact1.webp);
    background-size: cover;
  }
  
  .container {
    width: 30%;
    height: 500px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .contact-details {
    margin-top: 20px;
    padding: 20px;
    height: 350px;
    border: 1px solid salmon;
    border-radius: 5px;
    background-color: skyblue;
  }
  
  .contact-details p {
    margin: 10px 0;
    font-size: 25px;
    color: #000000;
  }
  
  .contact-details p strong {
    color: #333;
  }
  
  .contact-details p:last-child {
    margin-bottom: 0;
  }
  
  /* .contact-details p:not(:last-child)::after {
    content: "|";
    margin: 0 5px;
    color: #ccc;
  } */
  button {
    font-size: 25PX;
    text-decoration:   none ;
    padding: 12px 24px;
    background-color: #2ecc71; /* Green button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 60px;
    margin-left: 280px;
    transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
  }
  
  button:hover {
    background-color: #27ae60; /* Darker green on hover */
  }
  .note {
    padding: 12px 24px;
    background-color: #6f9b81;
    color: red;
    font-style: italic; /* Added italic style for the note */
    font-size: 14px; /* Adjusted font size for the note */
}