body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	display: flex;
	justify-content: center;
	background-image:url("/project/Images/login2.jpg");
	align-items: center;
	height: 100vh;
}

.login-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.captcha-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#captcha {
	font-size: 18px;
	margin-right: 10px;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

button {
	background-color: #4caf50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}