<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Rate Calculator</title>
    <link rel="stylesheet" href="/project/Css/Calculator.css">
</head>
<body>

    <header>
        <h1>Shipping Rate Calculator</h1>
    </header>

    <main>
        <form id="shippingForm">
            <label for="destination">Destination:</label>
            <input type="text" id="destination" required>

            <label for="weight">Weight (in kg):</label>
            <input type="number" id="weight" required>

            <label for="dimensions">Kilometers (in km):</label>
            <input type="text" id="km" required>

            <label for="deliverySpeed">Delivery Speed:</label>
            <select id="deliverySpeed">
                <option value="standard">Standard</option>
                <option value="expedited">Expedited</option>
                <option value="express">Express</option>
            </select>
            <button type="button" onclick="calculateShipping()">Calculate Shipping</button>
            <a href="/myshipments"><button type="button">Back To Shipment</button></a>
        </form>
        <div id="result"></div>
    </main>
    <script src="/project/Javascript/Calculator.js"></script>
</body>
</html>
