<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Website | Code mentor</title>
    <link rel="stylesheet" href="/project/Css/starting.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">SCM-Xpert</div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/signup">SIGNIN</a></li>
            </ul>
        </div>
 
        <div class="content">
            <h1 style="color:yellow">Logistics World</h1>
            <p>Subscribe Code Mentor Youtube Channel to watch more videos, <br> Press The bell Icon to get latest updates.</p>
            <div>
                <a href="/login"><button type="button"><span></span> Login</button></a>
            </div>
        </div>
 
    </div>
 
</body>
</html>