<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGISTICS</title>
    <link rel="stylesheet" href="/project/Css/StartingPage.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">SCM-Xpert</div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/signup">SIGNUP</a></li>
            </ul>
        </div>
 
        <div class="content">
            <h1 style="color:yellow">Logistics World</h1>
            <P>Logistics mastery, where every detail counts</P>
            <p>Connecting the world, one shipment at a time – Where efficiency meets reliability in the world of logistics.</p>
            <div>
                <a href="/login"><button type="button"><span></span> Login</button></a>
            </div>
        </div>
 
    </div>
 
</body>
</html>