<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE ROLE</title>
    <link rel="stylesheet" href="/project/Css/UpdateRole.css">
    <script src="/project/Javascript/UpdateRole.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h2 style="color: #3498db;">Role Change</h2>
        <span id="error"></span>
        <p>Enter your username below:</p>
        <form >
            <label for="user">User:</label>
            <input type="text" id="user" name="user">
            <button id="submit" type="submit">Submit</button>
        </form><br>
        <a href="/Dashboard"><button type="button">Get Back</button></a>
    </div>
  
</body>

</html>